services:
  dev-env:
    build:
      context: .
      dockerfile: Dockerfile.dev

    container_name: rag-wen

    volumes:
      - .:/workspace

    ports:
      - "8000:8000"
      - "5173:5173"

    environment:
      - DASHSCOPE_API_KEY=${DASHSCOPE_API_KEY}
      - TAVILY_API_KEY=${TAVILY_API_KEY}
      - PYTHONDONTWRITEBYTECODE=1

    command: sleep infinity
